/* BEGIN: styles for the preloader "curtain" */
#curtain {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #30db30;
    color: #000000;
    z-index: 9999;
    text-align: center;
    line-height: 100vh;
    font-size: 24px;
  }
/* END: styles for the preloader "curtain" */
  

body {
    background-color: rgb(33, 33, 33);

  }


  
/* below is just to style the example potatos */
.message {
  color: #777;
}

#image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#image-container img {
  max-width: 100%;
  height: auto;
}
